<h1><%= album.id ? 'Editar álbum' : 'Nuevo álbum' %></h1>

<% if (error) { %>
  <p class="error"><%= error %></p>
<% } %>

<form action="/album/save" method="POST">
  <input type="hidden" name="id" value="<%= album.id || '' %>">

  <p>
    Título:<br>
    <input type="text" name="titulo" value="<%= album.titulo || '' %>">
  </p>

  <p>
    Año:<br>
    <input type="number" name="anio" value="<%= album.anio || '' %>">
  </p>

  <p>
    Artista:<br>
    <select name="artistaId">
      <% artistas.forEach(a => { %>
        <option value="<%= a.id %>" <%= album.artistaId == a.id ? 'selected' : '' %>>
          <%= a.nombre %>
        </option>
      <% }) %>
    </select>
  </p>

  <p>
    Foto (URL):<br>
    <input type="text" name="foto" value="<%= album.foto || '' %>">
  </p>

  <button class="btn">Guardar</button>
</form>
